<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @alert.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @alert.content %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @alert.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @alert.longitude %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
